---
Language:         Cpp
BasedOnStyle:     Chromium
IndentWidth:      4
ColumnLimit:      100
UseTab:           Never
IndentCaseLabels: true
# do not allow ifs or loops without braces
InsertBraces:     true
PointerAlignment: Right

BreakBeforeBraces: Stroustrup
BreakBeforeBinaryOperators: true

BinPackArguments: false
BinPackParameters: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: false
  AcrossEmptyLines: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: false
  AcrossEmptyLines: false

AlignArrayOfStructures: Left
SortIncludes: Never
SpaceAfterCStyleCast: True
AllowShortEnumsOnASingleLine: false
...
