.vscode
.target
*.o
*.su
*.pyc
*.d
.idea
.mypy_cache
.gitea-token
*.hex
*.elf
*.bin
*.orig
lib_bagl/src/bagl_font_open_sans_extrabold_11px_unicode.inc
lib_bagl/src/bagl_font_open_sans_light_16px_unicode.inc
lib_bagl/src/bagl_font_open_sans_regular_11px_unicode.inc
lib_nbgl/build
TAGS
unit-tests/lib_*/build/
build
